[Unit]
Description=Script to run Pamac Manager with CPU limit
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/eignar/.bin/main/fixes/run_pamac_with_limit.sh

[Install]
WantedBy=multi-user.target
